
<div class="box box-info">
    <div class="box-header with-border">
				<h3 class="box-title">Cadastrar Cliente</h3>
				<p>{{ formulario.$invalid }}</p>
    </div>
    <div class="box-body">
			<form name="formulario" novalidate ng-submit="submeter(formulario)" class="">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<div class="form-group label-formulario">
							<label for="name">Nome</label> <span>*</span>
							<input 
								type="text" 
								class="form-control" 
								ng-class="{ error: formulario.name.$invalid &&  ( formulario.$submitted || formulario.name.$touched ) }"
								name="name" 
								ng-model="cliente.name" 
								required>
							<span class="form‐control text-red" ng-show="formulario.name.$invalid &&  ( formulario.$submitted || formulario.name.$touched )">
									Campo Obrigatório
							</span>
						</div>
					</div>


					<div class="col-xs-12 col-md-6">
							<div class="form-group label-formulario">
								<label for="description">Endereço</label><span>*</span>
								<input 
									type="text" 
									id="description" 
									class="form-control" 
									name="endereco"
									ng-class="{ error: formulario.description.$invalid &&  ( formulario.$submitted || formulario.description.$touched ) }" 
									ng-model="produto.description"
									required>
									<span class="form‐control text-red" ng-show="formulario.description.$invalid &&  ( formulario.$submitted || formulario.description.$touched )">
											Campo Obrigatório
									</span>
							</div>
					</div>
				</div>	

				<div class="row">
					<div class="col-xs-12 col-md-2">
						<div class="form-group label-formulario">
							<label for="categoria">Número</label><span>*</span>
							<input 
								type="number" 
								id="description" 
								class="form-control" 
								name="numero"
								ng-class="{ error: formulario.description.$invalid &&  ( formulario.$submitted || formulario.description.$touched ) }" 
								ng-model="produto.description"
								required>
							<span class="form‐control text-red" ng-show="formulario.categoria.$invalid &&  ( formulario.$submitted || formulario.categoria.$touched )">
									Campo Obrigatório 
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-md-5">
						<div class="form-group label-formulario">
							<label for="status">Bairro</label> <span>*</span>
							<input 
								type="text" 
								id="status"
								class="form-control" 
								name="bairro" 
								ng-model="produto.status"
								ng-class="{ error: formulario.status.$invalid &&  ( formulario.$submitted || formulario.status.$touched ) }" 
								required>
							<span class="form‐control text-red" ng-show="formulario.status.$invalid &&  ( formulario.$submitted || formulario.status.$touched )">
								Campo Obrigatório 
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-md-3">
						<div class="form-group label-formulario">
							<label for="price">Município</label> <span>*</span>
							<input 
								type="text" 
								id="price" 
								class="form-control" 
								name="municipio" 
								ng-model="produto.price"
								ng-class="{ error: formulario.price.$invalid &&  ( formulario.$submitted || formulario.price.$touched ) }" 
								required>
							<span class="form‐control text-red" ng-show="formulario.price.$invalid &&  ( formulario.$submitted || formulario.price.$touched )">
								Campo Obrigatório 
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-md-2">
						<div class="form-group label-formulario">
							<label for="percentagem">Estado</label> <span>*</span>
							<input 
								type="text" 
								id="percentagem" 
								class="form-control" 
								name="estado" 
								ng-model="produto.percentagem"
								ng-class="{ error: formulario.percentagem.$invalid &&  ( formulario.$submitted || formulario.percentagem.$touched ) }" 
								required>
							<span class="form‐control text-red" ng-show="formulario.percentagem.$invalid &&  ( formulario.$submitted || formulario.percentagem.$touched )">
									Campo Obrigatório 
							</span>
						</div>
					</div>
				</div>
				
				<div class="row">

					<div class="col-xs-12 col-md-4">
						<div class="form-group label-formulario">
							<label for="size">Telefone</label><span>*</span>
							<input type="text" id="" class="form-control" name="telefone" ng-model="produto.size" required >
							<span class="form‐control text-red" ng-show="formulario.$submitted && formulario.size.$error">
									Campo Obrigatório 
							</span>
						</div>
					</div>
					

					<div class="col-xs-12 col-md-6">
						<div class="form-group label-formulario">
							<label for="email">E-mail</label><span>*</span>
							<input type="text" id="" class="form-control" name="email" ng-model="produto.size" required >
							<span class="form‐control text-red" ng-show="formulario.$submitted && formulario.size.$error">
									Campo Obrigatório 
							</span>
						</div>
					</div>	
				</div>	
				
					<div class="col-xs-12 col-md-12 btn-crud">
							<!-- ng-disabled="formulario.$invalid" -->
						<button  type="submit" class="btn btn-primary">Salvar</button>
						<a href="#/clientes" class="btn btn-default">Voltar</a>
						<!--<button  ng-click="remover(produto)"type="button" class="btn btn-danger">Delete</button>-->
					</div>
      </div>
    </form>
    </div>
</div>