
<div class="box box-info">
    <div class="box-header with-border">
				<h3 class="box-title">Cadastrar Cliente</h3>
				<p>{{ formulario.$invalid }}</p>
    </div>
    <div class="box-body">
			<form name="formulario" novalidate ng-submit="submeter(formulario)" class="">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<div class="form-group label-formulario">
							<label for="name">Nome</label> <span>*</span>
							<input 
								type="text" 
								class="form-control" 
								ng-class="{ error: formulario.name.$invalid &&  ( formulario.$submitted || formulario.name.$touched ) }"
								name="name" 
								ng-model="cliente.name" 
								required>
							<span class="form‐control text-red" ng-show="formulario.name.$invalid &&  ( formulario.$submitted || formulario.name.$touched )">
									Campo Obrigatório
							</span>
						</div>
					</div>


					<div class="col-xs-12 col-md-6">
							<div class="form-group label-formulario">
								<label for="endereco">Endereço</label><span>*</span>
								<input 
									type="text" 
									id="endereco" 
									class="form-control" 
									name="endereco"
									ng-class="{ error: formulario.endereco.$invalid &&  ( formulario.$submitted || formulario.endereco.$touched ) }" 
									ng-model="cliente.endereco"
									required>
									<span class="form‐control text-red" ng-show="formulario.endereco.$invalid &&  ( formulario.$submitted || formulario.endereco.$touched )">
											Campo Obrigatório
									</span>
							</div>
					</div>
				</div>	

				<div class="row">
					<div class="col-xs-12 col-md-2">
						<div class="form-group label-formulario">
							<label for="numero">Número</label><span>*</span>
							<input 
								type="number" 
								id="numero" 
								class="form-control" 
								name="numero"
								ng-class="{ error: formulario.numero.$invalid &&  ( formulario.$submitted || formulario.numero.$touched ) }" 
								ng-model="cliente.numero"
								required>
							<span class="form‐control text-red" ng-show="formulario.numero.$invalid &&  ( formulario.$submitted || formulario.numero.$touched )">
									Campo Obrigatório 
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-md-5">
						<div class="form-group label-formulario">
							<label for="bairro">Bairro</label> <span>*</span>
							<input 
								type="text" 
								id="bairro"
								class="form-control" 
								name="bairro" 
								ng-model="cliente.bairro"
								ng-class="{ error: formulario.bairro.$invalid &&  ( formulario.$submitted || formulario.bairro.$touched ) }" 
								required>
							<span class="form‐control text-red" ng-show="formulario.bairro.$invalid &&  ( formulario.$submitted || formulario.bairro.$touched )">
								Campo Obrigatório 
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-md-3">
						<div class="form-group label-formulario">
							<label for="municipio">Município</label> <span>*</span>
							<input 
								type="text" 
								id="municipio" 
								class="form-control" 
								name="municipio" 
								ng-model="cliente.municipio"
								ng-class="{ error: formulario.municipio.$invalid &&  ( formulario.$submitted || formulario.municipio.$touched ) }" 
								required>
							<span class="form‐control text-red" ng-show="formulario.municipio.$invalid &&  ( formulario.$submitted || formulario.municipio.$touched )">
								Campo Obrigatório 
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-md-2">
						<div class="form-group label-formulario">
							<label for="estado">Estado</label> <span>*</span>
							<input 
								type="text" 
								id="estado" 
								class="form-control" 
								name="estado" 
								ng-model="cliente.estado"
								ng-class="{ error: formulario.estado.$invalid &&  ( formulario.$submitted || formulario.estado.$touched ) }" 
								required>
							<span class="form‐control text-red" ng-show="formulario.estado.$invalid &&  ( formulario.$submitted || formulario.estado.$touched )">
									Campo Obrigatório 
							</span>
						</div>
					</div>
				</div>
				
				<div class="row">

					<div class="col-xs-12 col-md-4">
						<div class="form-group label-formulario">
							<label for="telefone">Telefone</label><span>*</span>
							<input 
								type="text" 
								id="" 
								class="form-control" 
								name="telefone" 
								ng-model="cliente.telefone" 
								required >
							<span class="form‐control text-red" ng-show="formulario.$submitted && formulario.telefone.$error">
									Campo Obrigatório 
							</span>
						</div>
					</div>
					

					<div class="col-xs-12 col-md-6">
						<div class="form-group label-formulario">
							<label for="email">E-mail</label><span>*</span>
							<input 
								type="text" 
								id="" 
								class="form-control" 
								name="email" 
								ng-model="cliente.email" 
								required >
							<span class="form‐control text-red" ng-show="formulario.$submitted && formulario.email.$error">
									Campo Obrigatório 
							</span>
						</div>
					</div>	
				</div>	
				
					<div class="col-xs-12 col-md-12 btn-crud">
							<!-- ng-disabled="formulario.$invalid" -->
						<button  type="submit" class="btn btn-primary">Salvar</button>
						<a href="#/clientes" class="btn btn-default">Voltar</a>
						<!--<button  ng-click="remover(cliente)"type="button" class="btn btn-danger">Delete</button>-->
					</div>
      </div>
    </form>
    </div>
</div>