<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 ng-if="profile.isAdmin()">{{admGenerated}}</h3>
                    <h3 ng-if="profile.isPartner()">{{voucherPartnerGenerated}}</h3>
                    <p>Roupas</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <!--<h3>53<sup style="font-size: 20px">%</sup></h3>-->
                    <h3 ng-if="profile.isAdmin()">{{admVouchersValided}}</h3>
                    <h3 ng-if="profile.isPartner()">{{partnerTotalVouchersValided}}</h3>
                    <p>Alimentos</p>
                </div>
                <div class="icon">
                    <i class="ion ion-checkmark-round"></i>
                </div>
                <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3 ng-if="profile.isAdmin()">{{admExpiredVouchers}}</h3>
                    <h3 ng-if="profile.isPartner()">{{partnerExpiredVouchers}}</h3>
                    <p>Bebidas</p>
                </div>
                <div class="icon">
                    <i class="ion ion-calendar"></i>
                </div>
                <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3 ng-if="profile.isAdmin()">{{admTotalOffers}}</h3>
                    <h3 ng-if="profile.isPartner()">{{PartnerTotalVouchers}}</h3>
                    <p>Total Doadores</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
            </div>
        </div>
        <!-- ./col -->
    </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->

          

        </section>
        <!-- right col -->
    </div>
    <!-- /.row (main row) -->

</section>